<div class="container">
  <div class= "row">
    <h2><%= @list_var[0].headline%></h2>
    <h5><%= @list_var[0].city%> <%= @list_var[0].state%> <%= @list_var[0].country%></h5>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <img   width="600" height="600"
      src= <%= @list_var[0].primary_image_url %>
      alt="Boat on Calm Water"
    /></div>
    <div class="col-sm-6">
      <div class="row">
        <% @secondary_images.each do |img| %>
          <div class='col-6 col-sm-6'>
            <img  width="297" height="297" class = "mb-2"
                src= <%= img.listing_image_secondary_url %> />
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class = "row">
    <h4>
      <%= @list_var[0].name%>
    </h4>
    <p><%= @list_var[0].description%> </p>
  </div>
  <div class = "row">
    <h2>Reviews</h2>
    <% @reviews.each do |review| %>
      <div class='col-6 col-sm-6'>
        <h3><%= review.title%></h3>
        <p><%= review.body%></p>
      </div>
    <% end %>
  </div>
</div>
